<?xml version="1.0" encoding="ISO-8859-1"?> 
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
    <!-- <servlet> 
        <servlet-name>Demo</servlet-name> 
        <servlet-class>DemoServlet</servlet-class>
    </servlet>  
    <servlet-mapping> 
        <servlet-name>Demo</servlet-name> 
        <url-pattern>/demo</url-pattern> 
    </servlet-mapping>
    <servlet> 
        <servlet-name>AddCookie</servlet-name> 
        <servlet-class>AddCookieServlet</servlet-class>
    </servlet>  
    <servlet-mapping> 
        <servlet-name>AddCookie</servlet-name> 
        <url-pattern>/addcookie</url-pattern> 
    </servlet-mapping> 
    <servlet> 
        <servlet-name>GetCookie</servlet-name> 
        <servlet-class>GetCookieServlet</servlet-class>
    </servlet>  
    <servlet-mapping> 
        <servlet-name>GetCookie</servlet-name> 
        <url-pattern>/getcookie</url-pattern> 
    </servlet-mapping>
    <servlet> 
        <servlet-name>GenericDemo</servlet-name> 
        <servlet-class>GeneralServletDemo</servlet-class> \
    </servlet>  
    <servlet-mapping> 
        <servlet-name>GenericDemo</servlet-name> 
        <url-pattern>/gdemo</url-pattern> 
    </servlet-mapping> -->
</web-app>