* {
  margin: 0;
  background-color: #111111;
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
}

/* for Scroller-notrack */
.myscroller-notrack::-webkit-scrollbar {
  width: 0.6em;
}

.myscroller-notrack::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.myscroller-notrack::-webkit-scrollbar-thumb {
  background-color: #474747;
  outline: 1px solid #3d3a3b;
}
/* end for scroller part  */

.leftBox {
  height: 100vh;
  width: 30%;
  position: fixed;
}

.bottomBox {
  margin-top: 60vh;
  height: 40vh;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to top, black, transparent);
}

.rightBox {
  margin-left: 30%;
  height: 100vh;
  width: 70%;
  background-color: transparent;
  overflow-y: auto;
}

.rightBox .inRight {
  position: absolute;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 70%;
}

.imageBox {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: 70%;
  width: 80%;
  z-index: 2;
  background-size: cover;
  box-shadow: 0 16px 16px 0 black;
}

.imageText {
  position: absolute;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
  bottom: 0;
}

.text {
  background-color: transparent;
  padding: 3px;
}

.socialLinks {
  background: transparent;
  position: absolute;
  height: auto;
  width: 30%;
  margin-top: 10%;
  text-align: center;
  z-index: 4;
}

.socialLinks a {
  position: relative;
  color: white;
  background: transparent;
  padding: 20px;
  display: inline;
  cursor: pointer;
  z-index: 200;
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease;
}

.icon-gradient {
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email {
	color: white;
	margin-top: 13%;
	font-size: 14px;
	margin-left: 6%;
}

.mobile {
	color: white;
	font-size: 14px;
	margin-top: 1%;
	margin-left: 10%;
}

.socialLinks a:hover {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  width: 100%;
  text-align: center;
  padding: 40px;
}

.section {
  width: 100%;
  height: 300px;
}

.section hr {
  margin-top: 5px;
  width: 5%;
}

.squareTileContainer {
  display: flex;
  flex-wrap: wrap;
  float: left;
  position: relative;
}

.squareTile {
  margin: 20px;
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #171717, transparent);
  box-shadow: 0 8px 16px 0px purple;
  transition: 0.4s ease;
  z-index: 200;
  text-align: center;
}

.squareTile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.squareTile h4,
h5,
p {
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.gradient {
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.squareTileImage {
  width: 150px;
  height: 75px;
  margin: 20px;
  background: transparent;
}

.space {
  height: 50px;
  width: 150px;
  margin: 20px;
  background: transparent;
}

.miniTile {
  margin: 20px;
  padding: 10px;
  height: 20px;
  width: 200px;
  background: linear-gradient(to bottom, #171717, transparent);
  box-shadow: 0 8px 16px 0px purple;
  transition: 0.4s ease;
  z-index: 200;
  text-align: center;
}

.miniTile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.miniTile p {
  background: transparent;
}

.squareTileImage2 {
  width: 50px;
  height: auto;
  margin: 20px;
  background: transparent;
}

.blockquoteLeft {
  margin-top: 5%;
  margin-left: 5%;
  border-left: white;
  border-left-style: solid;
  padding: 2%;
  text-shadow: 4px 4px 8px purple;
}

.blockquoteRight {
  margin-top: 5%;
  margin-right: 5%;
  border-right: white;
  border-right-style: solid;
  padding: 2%;
  text-shadow: 4px 4px 8px purple;
}

.bottomSpace {
  height: 50%;
}
